---
import Layout from '../layouts/Layout.astro';
Astro.response.headers.set('Set-Cookie', `sbat=removed; Max-Age=-1; Path=/;`);
---


<Layout title="Welcome to Astro">
    You are logged out. <a href="/" class="underline">Go back!</a>
</Layout>
