<div>
    <div class="flex justify-center space-x-10">
        <a href="https://github.com/magnuswahlstrand/astro-supabase-vercel"><img src="./GitHub-Mark-120px-plus.png"
                                                                                 class="w-16 h-16"/></a>
        <a href="https://twitter.com/Wahlstra"><img src="./2021 Twitter logo - black.png" class="w-16 h-16"/></a>
    </div>
</div>
