---
import LoginStatus from "../components/LoginStatus.astro"

export interface Props {
    title: string;
    user: object;
}

const { title, user } = Astro.props as Props;
const isLoggedIn = !(user == null);

import '@fontsource/outfit/300.css';
import '@fontsource/outfit/400.css';
import '@fontsource/outfit/700.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Demo: {title}</title>
</head>
<body>
<div class="container mx-auto px-4 font-outfit">
    <div class="flex flex-col items-center pt-20 pb-12 prose-a:text-blue-800 prose-blockquote:text-gray-500 prose-blockquote:border-l prose-blockquote:border-l-4 prose-blockquote:border-emerald-500 prose-blockquote:font-light">
        <h1 class="text-3xl md:text-7xl">Astro + Supabase + Vercel</h1>
        <LoginStatus isLoggedIn={isLoggedIn}></LoginStatus>
            <div class="pt-8 max-w-xl">
                <article class="prose-lg lg:prose-xl">
                    <slot/>
                </article>
            </div>
    </div>
</div>
</body>
</html>
